#cheats {
    position: absolute;
    top:    38%;
    left:   24%;
    width:  var(--cheats-width);
    height: var(--cheats-height);
    background-image: none;
    background-color: black/*var(--gray)*/;
    box-shadow: 0 0 0.6vw black;
    .title-bar {
        background-color: black;
        .title-bar-controls > #min-button, #max-button {
            display: none;
        }
        .title-bar-controls > #ext-button {
            background-image: url('/assets/img/icon/window/termext.png');
        }
    }
    .window-body {
        display: flex;
        margin: 0;
        height: calc(100% - var(--title-bar-height) - var(--title-bar-border)/* - 1.1vh*/);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: 1vw;
        &::selection {
            background-color: var(--dark-green);
            color: black;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: left;
            width:  100%;
            height: calc(100% - 0.8vh);
            padding: 0.4vh;
/*             margin-top: var(--cheats-margin); */
            font-size:  var(--cheats-font-size);
            color: var(--dark-green);
            input {
                width:          var(--cheats-input-width);
                /*height:         var(--cheats-input-height);*/
                padding-left:   0/*var(--cheats-input-padding-left)*/;
                padding-right:  var(--cheats-input-padding-left);
                /*padding-top:    var(--cheats-input-padding-top);
                padding-bottom: var(--cheats-input-padding-top);*/
                /*border-width:   var(--cheats-border-width);*/
                /*border-radius:  var(--cheats-border-radius);*/
                text-align: center;

                background-color: transparent;
                border: none;
                outline: none;
                font-family: inherit;
                font-size: inherit;
                color: inherit;
                text-align: start;
                caret-shape: block;

                font-size: inherit;
            }
            button {
                width:          var(--cheats-button-width);
                height:         var(--cheats-button-height);
                margin-top:     var(--cheats-button-margin);
                border-width:   var(--cheats-border-width);
                border-radius:  var(--cheats-border-radius);
                padding-left:   var(--cheats-button-padding);
                padding-right:  var(--cheats-button-padding);
                outline-width: 0.2vw;
                font-size: inherit;
                min-height: 0;
                min-width:  0;
            }
        }
    }
}
