#riddle {
    position: absolute;
    justify-content: center;
    top:    17%;
    left:   37%;
    width:  var(--riddle-width);
    height: var(--riddle-height);
    font-size: var(--riddle-font-size);
    .window-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: var(--riddle-body-height);
        .riddle-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
        p {
            height: min-content;
            padding: 0.8vw;
            margin: 2vw;
            margin-top: 2vh;
            margin-bottom: 0;
            text-align: center;
            color: white;
            font-size:  2vh;
            font-family: 'Gothic';
            font-weight: 800;
            border: 0 solid;
            border-radius: 0.8vh;
            background-color: var(--chat-gray);
            box-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);
        }
        #timer {
            margin: 0;
            padding: 0;
            margin-bottom: 5vh;
            color: var(--dark-green);
            background-color: transparent;
            box-shadow: none;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            left: 0%;
            bottom: 0%;
            width: calc(100% - 0.8vw);
            flex-direction: row;
            align-content: center;
            margin: 0;
            padding-left: 0.4vw;
            padding-right: 0.4vw;
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            .riddle-form-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0.8vh;
                margin: 1vw;
                margin-left: 10vw;
                margin-right: 10vw;
                border: 0 solid;
                border-radius: 0.8vh;
                background-color: var(--chat-gray);
                box-shadow: 0 0 1vh rgba(0, 0, 0, 0.5);
                input {
                    color: white;
                    width: 75%;
                    height: 2vh;
                    padding: 1vh;
                    margin-right: 0.4vw;
                    font-size:  1.8vh;
                    font-family: 'Gothic';
                    font-weight: 800;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    text-align: start;
                    text-overflow: ellipsis;
                }
                button {
                    width: 5vh;
                    height: 5vh;
                    padding: 0;
                    margin: 0;
                    border: none;
                    border-radius: 0.8vh;
                    outline: none;
                    box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5);
                    background-color: transparent;
                    background-image: url('/assets/img/icon/window/send.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    &:hover {
                        filter: brightness(140%);
                    }
                    &:active {
                        filter: brightness(70%);
                    }
                }
            }
        }
    }
}
