:root {
    --title-bar-height:             3vh; /* 21 */
    --title-bar-controls-height:    calc(var(--title-bar-height) / 7 * 6);
    --title-bar-controls-margin:    calc(var(--title-bar-height) * 0.1);
    --title-bar-padding:            calc(var(--title-bar-height) / 7);
    --title-bar-border:             calc(var(--title-bar-height) / 21);
    --title-bar-border-radius:      calc(var(--title-bar-height) / 3);
    --title-bar-text:               calc(var(--title-bar-height) * 0.66);
    --title-bar-text-shadow:        calc(var(--title-bar-height) / 21);
    --window-box-shadow-size:       calc(var(--title-bar-height) / 21);
    --window-padding:               calc(var(--title-bar-height) / 7);
/*     --window-body-margin:           calc(var(--title-bar-height) / 2); */

    --skype-height:                 56vh;
    --skype-width:                  32vw;

    --folder-height:                60vh;
    --folder-width:                 57vw;

    --riddle-height:                66vh;
    --riddle-width:                 62vw;
    --riddle-font-size:             2vh;

    --chat-height:                  44vh;
    --chat-width:                   38vw;
    --chat-margin:                  0.26vw;
    --chat-padding:                 0.21vw;
    --chat-body-height:             calc(var(--chat-height) - var(--title-bar-height) - var(--title-bar-padding) * 2);

    --bg-height:                    15vh;
    --bg-width:                     12vw;
    --bg-padding:                   0.8vw;
    --bg-font-size:                 1.6vh;
    --bg-button-margin:             0.3vw;


    --cheats-height:                18vh;
    --cheats-width:                 15vw;
    --cheats-margin:                1vh;
    --cheats-border-width:          0.2vh;
    --cheats-border-radius:         0.5vh;
    --cheats-input-height:          4vh;
    --cheats-input-width:           10vw;
    --cheats-input-padding-top:     1vh;
    --cheats-input-padding-left:    0.4vw;
    --cheats-button-height:         5vh;
    --cheats-button-width:          6vw;
    --cheats-button-padding:        1.4vw;
    --cheats-button-margin:         1vh;
    --cheats-font-size:             2vh;

    --skype-call-height:            12vh;
    --skype-call-width:             18.8vw;
    --skype-call-border:            0.1vw;
    --skype-call-border-radius:     0.3vw;
    --skype-call-top-font-size:     1.6vh;
    --skype-call-top-height:        calc(var(--skype-call-height) * 0.18);
    --skype-call-bottom-height:     calc(var(--skype-call-height) * 0.82);
    --skype-call-bottom-border:     0.3vh;
    --skype-call-bottom-font-size:  1.4vh;
    --skype-call-buttons-width:     5vw;
    --skype-call-button-margin:     0.4vw;
    --skype-call-button-width:      calc(var(--skype-call-buttons-width) / 2 - var(--skype-call-button-margin));
    --skype-call-image-border:      0.2vh;
    --skype-call-image-margin:      0.4vh;
    --skype-call-image-height:      calc(var(--skype-call-bottom-height)
                                         - 2 * var(--skype-call-image-border)
                                         - 2 * var(--skype-call-image-margin)
                                         - var(--skype-call-bottom-border));
}

.window {
    z-index: 0;
    padding-bottom:             var(--window-padding) !important;

    background-color: #2f2f2f;
    box-shadow: inset 0 0 1vw #4f4f4f;
}
.window-body {
/*     margin: var(--window-body-margin) !important; */
/*     margin: 0 !important; */
}
.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height:         var(--title-bar-height) !important;
    padding:        var(--title-bar-padding) !important;
    padding-right:  calc(var(--title-bar-padding) / 3 * 5) !important;
}
.title-bar-controls {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: var(--title-bar-controls-height);
    button {
        height: var(--title-bar-controls-height);
        width:  var(--title-bar-controls-height);
        /*min-height:         0 !important;
        min-width:          0 !important;*/
        margin-left:        var(--title-bar-controls-margin);
        padding: 0;
        border: 0;
        background-color:   rgba(0, 0, 0, 0);
    }
}

.title-bar-name {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.title-bar-icon-container {
    height: var(--title-bar-height);
    width: var(--title-bar-height);
}
.title-bar-icon {
    height: 100%;
    width: 100%;
}
.title-bar-text {
    max-height:     var(--title-bar-controls-height);
    margin:         0 !important;
    padding-left:   var(--title-bar-padding) !important;
    font-size:      var(--title-bar-text);
    /*align-content: center;
    text-align: center;
    align-items: center;*/
    color: white;
/*     text-shadow:    var(--title-bar-text-shadow) var(--title-bar-text-shadow) #0f1089 !important; */
}
.checkbox-action {
    display: none;
}


#max-button {
    background-image: url('/assets/img/window/max.svg');
}
#max-button:hover {
    background-image: url('/assets/img/window/maxh.svg');
}
#max-button:active {
    background-image: url('/assets/img/window/maxa.svg');
}
#min-button {
    background-image: url('/assets/img/window/min.svg');
}
#min-button:hover {
    background-image: url('/assets/img/window/minh.svg');
}
#min-button:active {
    background-image: url('/assets/img/window/mina.svg');
}
#ext-button {
    background-image: url('/assets/img/window/min.svg');
}
#ext-button:hover {
    background-image: url('/assets/img/window/minh.svg');
}
#ext-button:active {
    background-image: url('/assets/img/window/mina.svg');
}


