:root {
    --bar-height:           6vh;
    --bar-border:           calc(var(--bar-height) / 20);

    --bar-time-width:       7vw;
    --bar-time-font-size:   calc(var(--bar-height) / 2);

    --bar-divider-width:    0.1vw;

    --app-light-width:      calc(var(--bar-height) * 0.35);
/*     --app-light-left:       calc() */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*     background-color: #1a1a1a; */
/*     border-top: var(--bar-border) solid #3d3d3d; */
    background-image: url(/assets/img/window/bg.png);
    background-repeat: repeat;
    background-size: 14vw;
/*     background-position: 10vw 6vh; */
    height: var(--bar-height);
    div {
        display: flex;
        flex-direction: row;
        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    .bar-left {
    }
    .bar-right {
        display: flex;
        justify-content: end;
        #bar-time {
            width: var(--bar-time-width);
            height: 100%;
            margin: 0;
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            align-content: center;
            text-align: center;
            color: white;
            font-size: var(--bar-time-font-size);
        }
    }
}

.bar-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: var(--bar-height);
    width: var(--bar-height);
    margin: 0;
    img {
        padding: 15%;
        width: 70%;
        height: 70%;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }
    &:hover {
        background-color: var(--gray-highlight);
/*         transform: translateX(-50%); */
        /* width: 16px;
         height: 1px;**/
/*         background-color: rgba(255, 255, 255, 0.5); */
/*         pointer-events: none; */
/*         z-index: 10; */
    }
}

.bar-app {
    display: flex;
    position: relative;
    height: calc(var(--bar-height) * 0.90);
    width: calc(var(--bar-height) * 0.90);
    margin: calc(var(--bar-height) * 0.05);
    img {
        width: 92%;
        height: 92%;
        object-fit: contain;
        filter: drop-shadow(0 3px 6px rgba(4, 80, 50, 0.3));
        box-sizing: border-box;
        border-radius: 23.5%;
        background: linear-gradient(to bottom, var(--top) 0%, var(--mid) 100%);
        box-shadow:
        -0.2vw 0.2vw 0.5vw oklab(0 0 0 / 0.25),
        -0.2vw 1vw 2vw oklab(0 0 0 / 0.25),
        inset 0 0.1vh 0.2vh rgb(255 255 255 / 25%);
    }
    &:hover {
        background-color: transparent;
        img {
            border-radius: 23.5%;
            background: linear-gradient(to bottom, var(--top-hover) 0%, var(--mid-hover) 100%);
        }
    }
    &:active {
        background-color: transparent;
        img {
            border-radius: 23.5%;
            background: linear-gradient(to bottom, var(--top-active) 0%, var(--mid-active) 100%);
        }
    }
    .app-light {
        z-index: 2;
        position: absolute;
        min-width: var(--app-light-width);
        width: var(--app-light-width);
        height: calc(var(--bar-height)/26);
        overflow-y: hidden;
        border-top: 2vh;
        bottom: 0.25vh;
/*         left: calc(-0.5 * var(--bar-height) + var(--app-light-width) * 0.5); */
        background-color: rgba(255, 255, 255, 0.4);
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
/*         border-radius: 50%; */
        box-shadow: 0 0 1vh white;
    }

}

/*#bar-witamcie {
    height: var(--bar-height);
    width: var(--bar-height);
    margin: 0;
    img {
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        object-fit: initial;
        filter: none;
        box-sizing: initial;
    }
    &:hover {
        background-color: var(--gray-highlight);
    }
}*/
#bar-volume {
    img {
        padding: 30%;
        height: 40%;
        width: 40%;
    }
}
#bar-cheats {
    img {
        padding: 25%;
        height: 50%;
        width: 50%;
    }
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
/* TODO */
.volume-container {
    display: flex;
    position: absolute;
    bottom: 6.8vh;
    right: 6vw;
    height: 30vh;
    width: 3vw;
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    background-color: blue;
    input[type=range] {
        height: 100%;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
/*             border: 1px solid #000000; */
            height: 1vh;
/*             height: 100%; */
            width: 2vw;
            background: #ffffff;
            cursor: pointer;
/*             margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ */
            box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        }
        &::-webkit-slider-runnable-track {
            display: flex;
            height: 100%;
            width: 0.5vw;
            background-color: red;
            justify-content: center;
        }

    }
    /*width: 1vw;
    height: 16vh;
    padding: 0.6vw;
    padding-right: 0.3vw;
    padding-bottom: 0;
    font-size: 1vh;

    background-color: #f2f1e7;
    border: 3px inset #939393;

    .field-row {
        .is-vertical {
            height: 14vh !important;
            width: 0.2vw !important;
            input {
                height: 0.2vw !important;
                width: 14vh !important;
            }
        }
    }*/
}

.divider {
    width: var(--bar-divider-width);
    height: 100%;
    background-color: #3d3d3d;
}

/**************/
/*.icon-bar {
    position: relative;
    height: var(--bar-height);
    width: var(--bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.bar-icon img {
}

/*.icon-bar::after {
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 10;
}*/
/*.bar-icon {
    position: relative;
    height: var(--bar-height);
    width: var(--bar-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-icon::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 23.5%;
    z-index: 1;
    background: linear-gradient(to bottom, var(--top) 0%, var(--mid) 100%);
    box-shadow:
    -0.2vw 0.2vw 0.5vw oklab(0 0 0 / 0.25),
    -0.2vw 1vw 2vw oklab(0 0 0 / 0.25),
    inset 0 0.1vh 0.2vh rgb(255 255 255 / 25%);
}

.bar-icon img {
    position: relative;
    z-index: 2;
    width: 92%;
    height: 92%;
    object-fit: contain;
    padding: 15%;
    filter: drop-shadow(0 3px 6px rgba(4, 80, 50, 0.3));
    box-sizing: border-box;
}

.bar-icon:after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 1px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 10;
}*/
