:root {
    font-family: 'GothicBold';
}

[hidden]{
    display: none !important;
}

img,
picture,
video {
    max-width: 100%;
}

a:focus {
    outline: none !important;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-grow: 1;
    background-image: url('/assets/img/background/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;

}
